<div class="container">
    <h1>كتب عربية</h1>
    <div class="row mb-5">
        <input [(ngModel)]="term" type="text" placeholder=" &#xF002; search for book by title"
            style="font-family:Arial, FontAwesome" class="form-control w-50 m-auto mt-5">
    </div>

    <div class="row btn-holder w-50  d-flex justify-content-around m-auto my-5">
        <button class="col-lg-2 col-md-4 col-sm-6 btn btn-dark shadow" (click)="getAllArabic()">All</button>
        <button *ngFor="let chip of Chips" 
        class="col-lg-2 col-md-4 col-sm-6 btn btn-dark shadow" (click)="getCategoryBooks(chip)">
            {{chip}}</button>
    </div>

    <div>
        <app-arabic-book-item [arabicBooks]="ArabicBooks" [term]="term" (item)="addToCart($event.id,$event)"></app-arabic-book-item>
    </div>
</div>



