.container{
    margin-top: 10%;
}
h1{
    color:#0F172A;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
}

.form-control:focus {
    color: #002152 !important;
    border-color: #07BFA5 !important;
    box-shadow: 0 0 0 0.19rem #b8efe7 !important;
}

.form-control{
    border-radius: 20px !important;
}

.btn{
    background-color: #002152 !important;
    font-size: 14px;
    border: none !important;
    margin-bottom: 15px;
    border-radius: 20px;
    width: fit-content;
}

.disActive{
    background-color: #002152 !important;
}
.active{
    background-color: #07BFA5 !important;
}

.btn:hover{
    background-color: #07BFA5 !important;
}
@media screen and (max-width: 992px) {
    .btn-holder{
        width: 100%;
    }
}
@media screen and (max-width: 1020px) {
    .container{
        margin-top: 15%;
    }
}
@media screen and (max-width: 400px) {
    .container{
        margin-top: 17%;
    }
}


