
h2{
    color:#0F172A;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
}

img{
    border-radius: 5px;
}
.image-parent{
    margin-right: 20px;
}

img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 767px) {
    h2{
        font-size: 30px;
    }
}
