/* Start Table */
.responsive-table {
    overflow-x: auto;
}


table {
    text-align: center;
    border: 2px solid rgb(178, 178, 178);
    min-width: 1200px;
}

thead {
    background-color: #002152 !important;
    color: white;
}

th {
    padding: 10px 0;
}


td {
    vertical-align: middle;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

i {
    font-size: 18px;
    cursor: pointer;
}

.edit {
    color: rgb(28, 188, 232);
}

.delete {
    color: rgb(200, 10, 10);
}