


<div class="container ">
    <h1> Childreen English Books</h1>
    <div class="row my-5 ">
        <input [(ngModel)]="term" type="text" placeholder=" &#xF002; search for book by title"
            style="font-family:Arial, FontAwesome" class="form-control w-50 m-auto">
    </div>
    <div class="row btn-holder w-50  d-flex justify-content-around m-auto my-5">
        <button class="col-lg-2 col-md-4 col-sm-6 btn btn-dark shadow" (click)="getAllEnglish()">All</button>
        <button *ngFor="let chip of Chips" 
        class="col-lg-2 col-md-4 col-sm-6 btn btn-dark shadow" (click)="getCategoryBooks(chip)">
            {{chip}}</button>
    </div>
    <div>
        <app-children-english-book-item [englishBooks]="EnglishBooks" [term]="term" (item)="addToCart($event.id,$event)">
        </app-children-english-book-item>
    </div>
</div>