footer {
    background-color: #002152;
    padding-top: 45px;
  
}
img{
    width: 200px;
    height: 150px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;


}

img {
    width: 150px;
}


