<!-- <div class="container">
    <div class="row">
        <div class=" col-lg-3 col-md-6 col-sm-12 mb-5" *ngFor="let book of englishBooks|search:term">
            <div class="book-holder">
                <div [routerLink]="['/book',book.id]" class="book-img">
                    <img src="{{book.img}}" alt="book">
                    <div class="book-desc">
                        <p class="book-title">{{book.title}}</p>
                        <p class="auther-name">Auther Name</p>
                        <p class="book-price">{{book.price}}</p>
                    </div>
                </div>
                <div class="add-btn-container">
                    <button class="add-btn">
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
    

    <div class="container">
        <div class="row">
            <div class=" col-lg-3 col-md-6 col-sm-12 mb-5"
            *ngFor="let book of englishBooks|search:term">
                <div class="book-holder">
                    <div [routerLink]="['/book',book.id]" class="book-img">
                        <img class="mb-2" src="{{book.poster}}" alt="book">
                        <div class="book-desc">
                            <p class="book-title">{{book.title}}</p>
                            <p class="auther-name">{{book.authorFirstname}} {{book.authorLastname}}</p>
                            <p class="book-price"><span class="woocommerce-Price-currencySymbol">EGP</span> {{book.price}}</p>
                        </div>
                    </div>
                    <div class="add-btn-container">
                        <button class="add-btn"(click)="item.emit(book)">
                            <i class="fa-solid fa-circle-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>